@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(196, 196, 196);
}

header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    background-color: #aaaaaa;
}

.heading{
    margin-inline:auto ;
}

.heading h1{
    margin: 0.8rem;
    font-family: Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 5px;
}

.side-panel{
    background-color: #ffffff;
    position: fixed;
    left: 0;
    height: 100%;
    transform: translateX(-23rem);
    transition: all 0.2s ease-in-out;
}

.icon{
    position: fixed;
    z-index: 5;
    width: auto;
    top: 1.2rem;
    left: 2rem;
}

.link{
    margin: 5rem 1rem;
}

.side-panel li{
    list-style: none;
    margin-block: 1rem;
    padding: 10px 8px;
    border-radius: 6px;
    background-color: #dadada;
    border: 2px solid transparent;
}

.side-panel li:hover{
    border: 2px solid #aaaaaa;
    transition: all 0.2s ease;
}

.side-panel li a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.active{
    transform: translateX(0rem);
    transition: all 0.2s ease-in-out;
}

.container{
    display: flex;
    margin-block: 3.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1,p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 90%;
    border: 1px solid black;
}
.mantra{
    word-spacing: 1.2rem;
    font-size: large;
}

@media screen and (max-width: 480px) {
    .mantra{
        word-spacing: normal;
    }
    .active{
        width: 100%;
    }
    .side-panel li a{
        font-size: 1rem;
    }
}