@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: rgb(196, 196, 196);
}

/* audio::-webkit-media-controls-panel
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */

.side-panel{
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    padding: 2rem 1.8rem;
}

.icon{
    position: absolute;
    top: 10px;
    left: 24rem;
}

.side-panel li{
    list-style: none;
    margin-block: 1rem;
    padding: 10px 8px;
    border-radius: 6px;
    background-color: #dadada;
    border: 2px solid transparent;
}

.side-panel li:hover{
    border: 2px solid #aaaaaa;
    transition: all 0.2s ease;
}

.side-panel li a{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

.active{
    transform: translateX(-24rem);
    transition: all 0.2s ease;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1,p{
    text-align: center;
}

.mantra{
    word-spacing: 1.2rem;
    font-size: large;
}

@media screen and (max-width: 480px) {
    .mantra{
        word-spacing: normal;
    }
}